---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>wip</title>
  </head>
  <body>
    <div class="grid h-screen place-items-center">
      <h1 class="font-mono italic text-2xl">
        dessa.dev is in development. please come back later!
      </h1>
    </div>
  </body>
</html>
